:root {
  --accent-color: #2196f3;
  --logo-color: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --hero-white-color: #ffffff;
  --background-color-style: #2f303a;
  --btn-background-color: #f5f4fa;
  --icons-main-color: #afb1b8;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --card-item: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.modal {
  width: 100%;
  max-width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal-close:focus .modal-icon,
.modal-close:hover .modal-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
}

.form-input:focus, .form-input:hover {
  border-color: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
}

.modal-comment:focus, .modal-comment:hover {
  border-color: var(--accent-color);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);
}

.form-input:focus + .input-icon,
.form-input:hover + .input-icon {
  fill: var(--accent-color);
}

.modal-label {
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
}

.modal-label::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-label:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-wrapper {
  margin-bottom: 20px;
}

.modal-label-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-wrap {
  margin-bottom: 30px;
}

.licensing-policy {
  color: var(--accent-color);
}

.modal-form .btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.check-text .custom-icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.policy-checkbox:checked + .check-text .custom-icon {
  background-color: var(--accent-color);
  border: none;
}

.policy-checkbox:hover + .check-text .custom-icon,
.policy-checkbox:focus + .check-text .custom-icon {
  border-color: var(--accent-color);
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__header {
  color: var(--logo-color);
}

.logo__footer {
  color: var(--hero-white-color);
}

.btn {
  font-family: inherit;
  color: var(--hero-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color var(--duration) var(--timing-function);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.card-set {
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card-set {
    --card-item: 2;
  }
}

.card-item {
  margin-top: 30px;
  margin-left: 30px;
  width: calc(100% / var(--card-item) - 30px);
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--hero-white-color);
}

.socials__icon {
  fill: currentColor;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.header__container,
.header__nav {
  display: flex;
  align-items: center;
}

.header__container {
  position: relative;
}

.header {
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__list {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header__contacts-list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header__contacts-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-list {
    flex-direction: row;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.nav-page .logo {
  padding: 16px 0;
  margin-right: 88px;
}

@media screen and (min-width: 768px) {
  .nav-page .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-page .logo {
    margin-right: 93px;
  }
}

.header__nav-list {
  color: var(--title-text-color);
}

.header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--duration) var(--timing-function);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--duration) var(--timing-function);
}

.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header__contacts-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__nav-list .header__link--active {
  position: relative;
  color: var(--accent-color);
}

.header__nav-list .header__link--active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header__contacts-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.header__contacts-icons {
  margin-right: 10px;
  fill: currentColor;
}

.header__mob-menu-bottom {
  margin-top: auto;
}

.menu-open-btn {
  display: block;
  margin: 0 0 0 auto;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 2;
  transition: color var(--duration) var(--timing-function);
}

.menu-open-btn:hover.is-open .icon-close,
.menu-open-btn:hover .icon-menu {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.btn-icon {
  fill: currentColor;
}

.menu-open-btn .icon-close {
  display: none;
}

.menu-open-btn.is-open .icon-close {
  display: block;
}

.menu-open-btn.is-open .icon-menu {
  display: none;
}

.header__mob-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: left var(--duration) var(--timing-function), opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.header__mob-menu .container-mob {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.header__mob-menu.is-open {
  left: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.header__mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  color: var(--title-text-color);
  transition: color var(--duration) var(--timing-function);
}

.header__mob-menu-link:hover, .header__mob-menu-link:focus, .header__mob-menu-link.link-active {
  color: var(--accent-color);
}

.header__mob-menu-item:not(:last-child),
.header__mob-adress-item:not(:last-child) {
  margin-bottom: 32px;
}

.header__mob-adress-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  transition: color var(--duration) var(--timing-function);
}

.header__mob-adress-link.phone-number {
  color: var(--accent-color);
}

.header__mob-adress-link:hover, .header__mob-adress-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 300px) {
  .header__mob-adress-link {
    font-size: 20px;
  }
}

@media screen and (min-width: 301px) and (max-width: 479px) {
  .header__mob-adress-link {
    font-size: 24px;
  }
}

.email-address {
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (max-width: 300px) {
  .email-address {
    font-size: 14px;
  }
}

.header__mob-adress-list {
  margin-bottom: 64px;
}

.header__mob-socials-list {
  display: flex;
}

.header__mob-socials-item:not(:last-child) {
  margin-right: 10px;
}

.header__mob-socials-item:not(:first-child) {
  margin-left: 10px;
}

.header__mob-socials-item:not(:last-child) {
  position: relative;
}

.header__mob-socials-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  display: block;
  width: 2px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.header__mob-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

@media screen and (max-width: 300px) {
  .header__mob-socials-link {
    font-size: 10px;
  }
}

@media screen and (min-width: 301px) and (max-width: 479px) {
  .header__mob-socials-link {
    font-size: 12px;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/MOB_Hero_bg@1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/MOB_Hero_bg@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/TAB_Hero_bg@1x-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/TAB_Hero_bg@2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/DESK_Hero_bg@1x-min.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/DESK_Hero_bg@2x-min.jpg);
  }
}

.hero__title {
  display: block;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--hero-white-color);
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  padding: 25px 0;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .benefits__box {
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__box {
    padding: 25px 100px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    --card-item: 4;
  }
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    --card-item: 4;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__position,
.team__name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
}

.team__position {
  margin-bottom: 16px;
}

.team-box {
  padding: 30px 24px;
}

.team .socials__link {
  background-color: #ffffff;
  color: var(--icons-main-color);
}

.work {
  padding-top: 0px;
  --card-item: 3;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__wrap {
  position: relative;
  overflow: hidden;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--hero-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 27px 27px;
}

.clients-list {
  --card-item: 2;
}

@media screen and (min-width: 768px) {
  .clients-list {
    --card-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    --card-item: 6;
  }
}

.clients__link {
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-main-color);
  transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icons {
  fill: currentColor;
}

.basement__address {
  font-style: normal;
}

.basement__link.white {
  color: var(--hero-white-color);
}

.basement__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration) var(--timing-function);
}

.basement__link:hover, .basement__link:focus {
  color: var(--accent-color);
}

.basement-section {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-color-style);
}

.basement .logo {
  margin-bottom: 20px;
}

.basement .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--hero-white-color);
}

.basement__items:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .basement__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

.basement__wrapper {
  text-align: center;
}

.basement__wrapper:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .basement__wrapper {
    text-align: left;
  }
  .basement__wrapper:not(:last-child) {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .basement__wrapper:last-child {
    margin-left: auto;
    margin-bottom: 0;
  }
}

.basement__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--hero-white-color);
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--hero-white-color);
  margin-right: 12px;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-form__input:focus, .subscribe-form__input:hover {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.basement__btn {
  position: relative;
  width: 200px;
  padding: 10px 29px;
  text-align: left;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .basement__btn {
    margin-top: 0;
  }
}

.subscribe-form__icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.filter-btn {
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--btn-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}

.filter-btn:focus,
.filter-btn:hover,
.active {
  color: var(--hero-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 60px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 80px;
  }
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 389px) {
  .button-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 400px) and (max-width: 479px) {
  .button-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 643px) {
  .button-item:nth-child(-n + 4) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    --card-item: 3;
  }
}

.portfolio-border {
  flex-grow: 1;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--duration) var(--timing-function);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-items-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--hero-white-color);
  font-size: 18px;
  line-height: 1.56;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: hidden;
  transform: translateY(101%);
  transition: transform var(--duration) var(--timing-function);
}

.portfolio-link:hover .portfolio-img-text,
.portfolio-link:focus .portfolio-img-text {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */