.clients-list {
  --card-item: 2;
  @include tablet {
    --card-item: 3;
  }
  @include desktop {
    --card-item: 6;
  }
}

.clients__link {
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-main-color);
  transition: color var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.clients__icons {
  fill: currentColor;
}
