.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
  @media screen and (max-width: 767px) {
    padding: 93px 15px 94px 15px;
  }
}
.modal {
  position: relative;
  width: 100%;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.7);
  }
  @include tablet {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    transition: transform var(--duration) var(--timing-function);
  }
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
.modal-close:focus .modal-icon,
.modal-close:hover .modal-icon {
  fill: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}
.modal-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);
  .form-input:focus + &,
  .form-input:hover + & {
    fill: var(--accent-color);
  }
}
.modal-label {
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-label:not(:last-child) {
  margin-bottom: 10px;
}
.modal-form-wrapper {
  margin-bottom: 20px;
}
.modal-label-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}
.policy-wrap {
  margin-bottom: 30px;
}
.licensing-policy {
  color: var(--accent-color);
}
.modal-form .btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.check-text .custom-icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .policy-checkbox:checked + & {
    background-color: var(--accent-color);
    border: none;
  }
  .policy-checkbox:hover + &,
  .policy-checkbox:focus + & {
    border-color: var(--accent-color);
  }
}
