:root {
  --accent-color: #2196f3;
  --logo-color: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --hero-white-color: #ffffff;
  --background-color-style: #2f303a;
  --btn-background-color: #f5f4fa;
  --icons-main-color: #afb1b8;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --card-item: 4;
}
